.container {
  width: 400px;
  padding: 5%;
  max-width: 100%;
  border-radius: 10px;
  margin: 10% auto 0 auto;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.container h1 {
  text-transform: uppercase;
}
form {
  width: 100%;
  margin-top: 1rem;
}

.container input {
  width: 100%;
  padding: 0.5rem;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.container form button {
  padding: 0.5rem 1rem;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.container form button:hover {
  background-color: #003;
}